.root {
    display: grid;
    grid-template-rows: auto;
    justify-self: center;
    .footerWrapper {
        margin-bottom: 50px;
        display: grid;
        gap: 15px;
        .listContainer {
            display: grid;
            grid-template-columns: repeat(12, minmax(min-content, max-content));
            gap: 1.2rem;
            margin-top: 24px;
            .link {
                font-size: 12px;
                font-weight: 400;
                color: rgb(142, 142, 142);
            }
        }
        .footerBottom {
            display: grid;
            justify-content: center;
            gap: 12px;
            grid-template-columns: repeat(2, auto);
            p {
                text-align: center;
                color: rgb(142, 142, 142);
                font-weight: 400;
                font-size: 12px;
                align-self: center;
            }
        }
    }
}
