.root {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 244px auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    .main {
        margin-left: 246px;
        display: grid;
    }
}
