.searchPanel {
    background-color: white;
    height: 100vh;
    position: absolute;
    margin-left: 72px;
    transition: linear 0.28s;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    box-shadow: 4px 0 24px rgba(0, 0, 0, 0.15);
    padding-top: 8px;
}
